.student-table {
  margin: 0 auto !important;
  width: 70vw !important;
}

.table {
  text-align: center !important;
  vertical-align: middle !important;
}

.the-spinner {
  display: inline-block !important;
  vertical-align: middle !important;
}
